*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    height: 200vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #4e3629;
    color: #eeb06b;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

input {
    width: 100%;
    height: 2rem;
    margin: 3%;
    padding: 2px;

    background: none;
    border: 0;
    border-bottom: solid 2px #eeb06b;
}

input:focus{
    outline: none;
}

button {
    width: 100%;
    height: 3rem;
    margin: 10%;
}

.btn-0 {
  background: #653819;
  font-weight: bold;
  color: #eeb06b;
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

.btn-0:hover{
    box-shadow: 0 0 0 2px #eeb06b, 0 0 0 3px #7d461e;
}

.btn-1 {
  background: #955f3b;
  font-weight: bold;
  color: #eeb06b;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

.btn-1:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #e34234;
}

form {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.paragraph {
    margin: 10px;
    text-align: center;
}

.panel {
    height: 70%;
    width: 75vh;
    background-color: #512608;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    border-radius: 30px;
}

.answer_h3{
    margin-bottom: 30px;
}

input::placeholder, textarea::placeholder {
    color: #be833d;
}

input {
    color: #f38809;
}