<div th:fragment="footer">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <footer>
    <div class="footer-column about-us">
        <h3>Наши социальные сети</h3>
        <div class="social-buttons">
            <a href="#" class="social-button telegram"> <i class="fa-brands fa-telegram"></i> </a>
            <a href="https://vk.com/kolyan227" class="social-button vk"> <i class="fa-brands fa-vk"></i> </a>
            <a href="https://www.google.com/intl/ru/gmail/about/" class="social-button instagram"><i class="fa-solid fa-envelope"></i></a>
        </div>
    </div>
    <div class="footer-column quick-links">
        <h3>Меню</h3>
        <ul>
            <li><a href="About.html">О фабрике</a></li>
            <li><a href="cart">Каталог</a></li>
            <li><a href="Vacancies.html">Вакансии</a></li>
            <li><a href="News.html">Новости</a></li>
        </ul>
    </div>
    <div class="footer-column shop">
        <h3>Магазин</h3>
        <ul>
            <li><a href="Catalog.html">Каталог</a></li>
        </ul>
    </div>
    <div class="footer-column contact-us">
        <h3>Контактная информация</h3>
        <p>Email: brotan598@gmail.com</p>
        <p>Phone: +8 925 699 20 30</p>
    </div>
    </footer>
    <p class="copyright">©Шкабара Николай 2023 ИКБО-30-22</p>
</div>